        <div class="container-fluid px-0 mt-5">
            <footer id="footer" style="background-color: black; height: 30px; width: 100%;">
                <p class="py-2 my-1" style="text-align: center; color: white; font-size: 0.8rem; line-height: 5px;">
                    Copyright &copy; 2020 All Rights Reserved
                </p>
            </footer>
        </div>
        <script>
            $('.fa-heart').click(function(){
                alert("You Liked This Hotel.")
            })
        </script>
    </body>
</html>