<%- include("partials/header") %>

<div>
    <img id="home" src="/Images/home.jpg"> 
    <div class="centered">
        <h1>HOTELS</h1>
        <hr width="300px" color="white">
        <a href="/hotels" style="color:black;">
            <button class="btn btn-light btn-lg">
                <i class="fas fa-home"></i> Get Started
            </button>
        </a>
    </div>
</div>

<%- include("partials/footer") %>